
@{
    ViewBag.Title = "ExternalLoginCallback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Name: @ViewBag.authResultName Provider: @ViewBag.authResultProvider ProviderId: @ViewBag.authResultProviderUserId Email: @ViewBag.authResultEmail</h2>