
@{
    ViewBag.Title = "WelcomePage";
}

<h2>WelcomePage</h2>
<h4>This is our team web page: Koit, Viido, Kristo</h4>
<h3>E-Voting app views:</h3>

<img src="~/Pictures/LogimineValik.png" title="Logimise valik"/>
<img src="~/Pictures/Logitud.png" title="Sisse logitud"/>
<img src="~/Pictures/Avaleht.png" title="Rakenduse avaleht"/>
<img src="~/Pictures/Kandidaadid.png" title="Kandidaatide leht"/>
<img src="~/Pictures/Kandideeri.png" title="Kandideerimise leht"/>
<img src="~/Pictures/Kandideeritud.png" title="Kandideerimise õnnestumise teavitus"/>
<img src="~/Pictures/LeitudKandidaadid.png" title="Kandidaatide otsing (Leitud)"/>
<img src="~/Pictures/OtsiKandidaati.png" title="Kandidaatide otsing"/>
<img src="~/Pictures/Valimine.png" title="Kandidaatide valimine"/>
<img src="~/Pictures/Statistika.png" title="Statistika vaade"/>
<img src="~/Pictures/Tulemused.png" title="Häälte tulemused"/>
<img src="~/Pictures/KKK.png" title="KKK Küsimused"/>
