
@{
    ViewBag.Title = "Welcome Page";
}

<br />
<h1>WelcomePage</h1>
<h2>This is our team web page: Koit, Viido</h2>
<h3>E-Voting app views:</h3>

<div id="welcomePagePictures">
    <img src="~/Pictures/LogimineValik.png" title="Logimise valik" alt="Logimise valik" />
    <img src="~/Pictures/Logitud.png" title="Sisse logitud" alt="Sisse logitud" />
    <img src="~/Pictures/Avaleht.png" title="Rakenduse avaleht" alt="Rakenduse avaleht" />
    <img src="~/Pictures/Kandidaadid.png" title="Kandidaatide leht" alt="Kandidaatide leht" />
    <img src="~/Pictures/Kandideeri.png" title="Kandideerimise leht" alt="Kandideerimise leht" />
    <img src="~/Pictures/Kandideeritud.png" title="Kandideerimise õnnestumise teavitus" alt="Kandideerimise õnnestumise teavitus" />
    <img src="~/Pictures/LeitudKandidaadid.png" title="Kandidaatide otsing (Leitud)" alt="Kandidaatide otsing (Leitud)" />
    <img src="~/Pictures/OtsiKandidaati.png" title="Kandidaatide otsing" alt="Kandidaatide otsing" />
    <img src="~/Pictures/Valimine.png" title="Kandidaatide valimine" alt="Kandidaatide valimine" />
    <img src="~/Pictures/Statistika.png" title="Statistika vaade" alt="Statistika vaade" />
    <img src="~/Pictures/Tulemused.png" title="Häälte tulemused" alt="Häälte tulemused" />
    <img src="~/Pictures/KKK.png" title="KKK Küsimused" alt="KKK Küsimused" />
    
</div>
<p>You are using @ViewBag.browser. (@ViewBag.ip)</p>
<p>You are on @ViewBag.viewPath</p>
<p>We are collecting data from you! Don´t worry all data is in safe and we won´t share it to anyone!</p>
