
@{
    ViewBag.Title = "Welcome Page";
}

<div itemscope itemtype="http://schema.org/WebSite">
    <br />
    <h1>Welcome to the <span itemprop="name">Electronic Voting Application</span>!</h1>
    <h2>The application is made by our team: <span itemprop="creator">Koit Kõrvel</span> and <span itemprop="creator">Viido Kaur Lutsar</span>.</h2>
    <p><span itemprop="description">The purpose of the Electronic Voting Application is to simplify the process of candidating and voting for the candidates. 
        Instead of having to go to a voting centre, you can just vote electronically from the comforts of your home!</span></p>
    <h3>E-Voting app views:</h3>
</div>
<button onclick="HidePictures()">Hide pictures</button>

<br/>
<div id="welcomePagePictures">
    <img src="~/Pictures/LogimineValik.png" title="Logimise valik" alt="Logimise valik" />
    <img src="~/Pictures/Logitud.png" title="Sisse logitud" alt="Sisse logitud" />
    <img src="~/Pictures/Avaleht.png" title="Rakenduse avaleht" alt="Rakenduse avaleht" />
    <img src="~/Pictures/Kandidaadid.png" title="Kandidaatide leht" alt="Kandidaatide leht" />
    <img src="~/Pictures/Kandideeri.png" title="Kandideerimise leht" alt="Kandideerimise leht" />
    <img src="~/Pictures/Kandideeritud.png" title="Kandideerimise õnnestumise teavitus" alt="Kandideerimise õnnestumise teavitus" />
    <img src="~/Pictures/LeitudKandidaadid.png" title="Kandidaatide otsing (Leitud)" alt="Kandidaatide otsing (Leitud)" />
    <img src="~/Pictures/OtsiKandidaati.png" title="Kandidaatide otsing" alt="Kandidaatide otsing" />
    <img src="~/Pictures/Valimine.png" title="Kandidaatide valimine" alt="Kandidaatide valimine" />
    <img src="~/Pictures/Statistika.png" title="Statistika vaade" alt="Statistika vaade" />
    <img src="~/Pictures/Tulemused.png" title="Häälte tulemused" alt="Häälte tulemused" />
    <img src="~/Pictures/KKK.png" title="KKK Küsimused" alt="KKK Küsimused" />
</div>
<script>
    function HidePictures() {
        var x = document.getElementById("welcomePagePictures");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<p>You are using @ViewBag.browser. (@ViewBag.ip)</p>
<p>You are on @ViewBag.viewPath</p>
<p>We are collecting data from you! Don´t worry all data is in safe and we won´t share it to anyone!</p>
