
@{
    ViewBag.Title = "WelcomePage";
}

<h1>WelcomePage</h1>
<h2>This is our team web page: Koit, Viido, Kristo</h2>
<h3>E-Voting app views:</h3>

<img src="~/Pictures/LogimineValik.png" alt="Logimise valik" title="Logimise valik"/>
<img src="~/Pictures/Logitud.png" alt="Sisse logitud" title="Sisse logitud"/>
<img src="~/Pictures/Avaleht.png" alt="Rakenduse avaleht" title="Rakenduse avaleht"/>
<img src="~/Pictures/Kandidaadid.png" alt="Kandidaatide leht" title="Kandidaatide leht"/>
<img src="~/Pictures/Kandideeri.png" alt="Kandideerimise leht" title="Kandideerimise leht"/>
<img src="~/Pictures/Kandideeritud.png" alt="Kandideerimise õnnestumise teavitus" title="Kandideerimise õnnestumise teavitus"/>
<img src="~/Pictures/LeitudKandidaadid.png" alt="Kandidaatide otsing (Leitud)" title="Kandidaatide otsing (Leitud)"/>
<img src="~/Pictures/OtsiKandidaati.png" alt="Kandidaatide otsing" title="Kandidaatide otsing"/>
<img src="~/Pictures/Valimine.png" alt="Kandidaatide valimine" title="Kandidaatide valimine"/>
<img src="~/Pictures/Statistika.png" alt="Statistika vaade" title="Statistika vaade"/>
<img src="~/Pictures/Tulemused.png" alt="Häälte tulemused" title="Häälte tulemused"/>
<img src="~/Pictures/KKK.png" alt="KKK Küsimused" title="KKK Küsimused"/>
