
@{
    ViewBag.Title = "ShowRegionOnMap";
}

<h2>Region on map</h2>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d272071.0606824743!2d26.814796121151893!3d57.808898447643145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eaf77edd11335d%3A0x300b36d18fc6100!2sV%C3%B5ru+maakond!5e0!3m2!1set!2see!4v1539358694160" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<iframe width="450"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyACFXuM-P18venTExxs0s2jYR68biaupOY&q= + @ViewBag.location" allowfullscreen></iframe>